body {
  font-family: Courier, monospace;
  font-size: 1.2em;
  margin-left: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul div {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 200px;
  text-align: center;
  padding: 0 1em 3em;
}

ul li {
  padding: 1em;
  border: 6px solid #AFAFAF;
  background: #E9E9E9;
  height: 90%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a.author {
  text-decoration: underline;
  color: #111;
}

.modal {
  width: 20em;
  height: 15em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -7.5em;
  margin-left: -10em;
  padding: 1em;
  background-color: darkslategray;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  opacity: 1 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.blur-background {
  z-index: -999;
  opacity: 0.3;
  pointer-events: none;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
